@import "styles/variables";

.text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
  &__word {
    display: inline;
    font-size: 32px;
    letter-spacing: 2px;
    color: $gray--third;
  }
  &__letter {
    transition: color 0.12s;
    &--incorrect {
      color: $red;
    }
    &--correct {
      color: $primary;
    }
    &--active {
      border-bottom: 2px solid $primary;
    }
  }
}
