@import "styles/variables";

.text {
  display: flex;
  flex-wrap: wrap;
  &__word {
    display: inline;
    font-size: 24px;
    letter-spacing: 2px;
    color: $gray--third;
    &--active {
      .text__letter--active {
        border-bottom: 2px solid $primary;
      }
    }
  }
  &__letter {
  }
}
